#map {
    width: 100%;
    height: 100%;
}

#mapWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#mapLoadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#mapLoadingText {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgba(255,255,255,1); /* Black background with opacity */

    text-align: center;

    font: 82px Helvetica, serif;
    z-index: 3;
}